## auxiliary files
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.clo
*.cls
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.hd
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.mw
*.md
*.nav
*.orig
*.out
*.pdf
*.ps
*.run.xml
*.slg
*.slo
*.sls
*.snm
*.sty
*.sub
*.suc
*.syc
*.sym
*.synctex(busy)
*.synctex.gz*
*.tdo
*.toc
*.tut
*.wrt
*.xdv
*.xdy
*.xlg

Programmierung/__pycache__/